@{
    ViewData["Title"] = "Build AI Chatbot";
}

@section Styles {
    <link href="css/pages/build-ai-chatbot.css" rel="stylesheet" />
    <!-- [Page specific CSS] start -->
    <link rel="stylesheet" href="css/plugins/uppy.min.css" />
    <!-- [Page specific CSS] end -->
}

@section Scripts {
    <!-- Ckeditor js -->
    <script src="js/plugins/ckeditor/document/ckeditor.js"></script>
    <script>
        (function () {
          DecoupledEditor.create(document.querySelector('.document-editor__editable'))
            .then((editor) => {
              const toolbarContainer = document.querySelector('.document-editor__toolbar');
              toolbarContainer.appendChild(editor.ui.view.toolbar.element);

              // Thêm bộ đếm ký tự
              let text = editor.getData().replace(/<[^>]*>/g, ''); // Loại bỏ HTML
                  document.getElementById('char-count').innerText = `${text.length} / 4000 words`;

              editor.model.document.on('change:data', () => {
                  let text = editor.getData().replace(/<[^>]*>/g, ''); // Loại bỏ HTML
                  document.getElementById('char-count').innerText = `${text.length} / 4000 words`;
              });
            })
            .catch((error) => {});
        })();
    </script>


    <!-- [Page Specific JS] start -->
    <script src="js/plugins/uppy.min.js"></script>

    <script type="module">
        // Function for displaying uploaded files
        const onUploadSuccess = (elForUploadedFiles) => (file, response) => {
           const url = response.uploadURL;

           document.querySelector(elForUploadedFiles).innerHTML += common.UploadedFilesHTML(file);

           let fileCount = document.querySelectorAll('#files-drag-drop .uploaded-files div#output-files .file-item').length;

           document.querySelector('#files-drag-drop .uploaded-files #file-count').innerHTML = ' (' + fileCount + ' files):';
        };

        import { Uppy, Tus, DragDrop, ProgressBar } from 'https://releases.transloadit.com/uppy/v3.23.0/uppy.min.mjs';

        // for structure change upload files
        const uppy2 = new Uppy({ debug: true, autoProceed: true })
          .use(DragDrop, { target: '#files-drag-drop .for-DragDrop' })
          .use(Tus, { endpoint: 'https://tusd.tusdemo.net/files/' })
          .use(ProgressBar, { target: '#files-drag-drop .for-ProgressBar', hideAfterFinish: false })
          .on('upload-success', onUploadSuccess('#files-drag-drop .uploaded-files div#output-files'));

        uppy2.on('success', (fileCount) => {
          console.log(`${fileCount} files uploaded`);
        });
    </script>

    <!-- To support older browsers, you can use the legacy bundle which adds a global `Uppy` object.  -->
    <script nomodule src="https://releases.transloadit.com/uppy/v3.23.0/uppy.legacy.min.js"></script>
    <script nomodule>
        {
          const { DragDrop, ProgressBar, Tus } = Uppy;
          // for structure change upload files
          const uppy2 = new Uppy.Uppy({ debug: true, autoProceed: true })
            .use(DragDrop, { target: '#files-drag-drop .for-DragDrop' })
            .use(Tus, { endpoint: 'https://tusd.tusdemo.net/files/' })
            .use(ProgressBar, { target: '#files-drag-drop .for-ProgressBar', hideAfterFinish: false })
            .on('upload-success', onUploadSuccess('#files-drag-drop .uploaded-files div#output-files'));

          uppy2.on('success', function (fileCount) {
            console.log(`${fileCount} files uploaded`);
          });
        }
    </script>
    <!-- [Page Specific JS] end -->

    <script src="js/pages/build-ai-chatbot.js"></script>
    <script type="text/javascript">
        var buildAIChatbot = new buildAIChatbot();
    </script>

    <!-- [Page Specific JS] start -->
    <script>
        // scroll-block
        var tc = document.querySelectorAll('.scroll-block');
        for (var t = 0; t < tc.length; t++) {
          new SimpleBar(tc[t]);
        }
        setTimeout(function () {
          var element = document.querySelector('.chat-content .scroll-block .simplebar-content-wrapper');
          var elementheight = document.querySelector('.chat-content .scroll-block .simplebar-content');
          var off = elementheight.getBoundingClientRect();
          var h = off.height;
          element.scrollTop += h;
        }, 100);
    </script>
    <!-- [Page Specific JS] end -->
}

<!-- [ breadcrumb ] start -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-default-icon m-0">
        <li class="breadcrumb-item">
            <a href="/"> <i class="ti ti-home-2 fs-6"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Build AI Chatbot</li>
    </ol>
</nav>
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">Build AI Chatbot</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<div class="row" id="build-ai-chatbot">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body p-3">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item" data-target-form="#contactDetailForm">
                        <a href="#prompt-setting-tab" data-bs-toggle="tab" data-toggle="tab" class="nav-link active">
                            <i class="fas fa-edit"></i>
                            <span class="d-none d-sm-inline">Prompt Setting</span>
                        </a>
                    </li>
                    <!-- end nav item -->
                    <li class="nav-item" data-target-form="#jobDetailForm">
                        <a href="#upload-documents-tab" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                            <i class="fas fa-upload"></i>
                            <span class="d-none d-sm-inline">Upload Documents</span>
                        </a>
                    </li>
                    <!-- end nav item -->
                    <li class="nav-item" data-target-form="#educationDetailForm">
                        <a href="#web-urls-tab" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                            <i class="fas fa-link"></i>
                            <span class="d-none d-sm-inline">Web URLs</span>
                        </a>
                    </li>
                    <!-- end nav item -->
                    <li class="nav-item">
                        <a href="#publishing-chatbot" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                            <i class="fas fa-globe"></i>
                            <span class="d-none d-sm-inline">Publishing Chatbot</span>
                        </a>
                    </li>
                    <!-- end nav item -->
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <!-- START: Define your progress bar here -->
                    @* <div id="bar" class="progress mb-3" style="height: 7px">
                        <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                    </div> *@
                    <!-- END: Define your progress bar here -->
                    <!-- START: Define your tab pans here -->
                    <div class="tab-pane show active" id="prompt-setting-tab">
                        <form id="contactForm" method="get" action="/forms/form2_wizard.html">
                            <div class="text-center">
                                <h3 class="mb-2">Prompt Setting</h3>
                                <small class="text-muted">Tailor AI responses with your custom guidlines</small>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <div class="document-editor">
                                        <div class="document-editor__toolbar"></div>
                                        <div class="document-editor__editable-container">
                                            <div class="document-editor__editable">
                                                <h2 style="text-align: center">The Flavorful Tuscany Meetup</h2>
                                                <h3 style="text-align: center">Welcome letter</h3>
                                                <p>Dear Guest,</p>
                                                <p>
                                                    We are delighted to welcome you to the annual <i>Flavorful Tuscany Meetup</i> and hope you will enjoy the
                                                    programmer as well as your stay at the <a href="http://ckeditor.com">Bilancino Hotel</a>.
                                                </p>
                                                <p>Please find below the full schedule of the event.</p>
                                                <figure class="table ck-widget ck-widget_selectable" contenteditable="false">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="ck-editor__editable ck-editor__nested-editable" contenteditable="true" colspan="2">Saturday, July 14</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    9:30&nbsp;AM&nbsp;-&nbsp;11:30&nbsp;AM
                                                                </td>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    Americano vs. Brewed - “know coffee” with <strong>Stefano Garau</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    1:00&nbsp;PM&nbsp;-&nbsp;3:00&nbsp;PM
                                                                </td>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    Pappardelle al pomodoro - <mark class="marker-yellow">live cooking</mark> with
                                                                    <strong>Rita</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    5:00&nbsp;PM&nbsp;-&nbsp;8:00&nbsp;PM
                                                                </td>
                                                                <td class="ck-editor__editable ck-editor__nested-editable" contenteditable="true">
                                                                    Tuscan vineyards at a glancewith <strong>Frederico Riscoli</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </figure>
                                                <blockquote>
                                                    <p>
                                                        The annual Flavorful Tuscany meetups are always a culinary discovery. You get the best of Tuscan flavors during
                                                        an intense one-day stay at one of the top hotels of the region. All the sessions are lead by top chefs passionate
                                                        about their profession. I would certainly recommend to save the date in your calendar for this one!
                                                    </p>
                                                    <p>Angelina Calvino, food journalist</p>
                                                </blockquote>
                                                <p>
                                                    Please arrive at the <a href="http://ckeditor.com">Bilancino Hotel</a> reception desk
                                                    <mark class="marker-yellow">at least half an hour earlier</mark> to make sure that the registration process goes as
                                                    smoothly as possible.
                                                </p>
                                                <p>We look forward to welcoming you to the event.</p>
                                                <p><strong>Victoria Valc</strong></p>
                                                <p><strong>Event Manager</strong></p>
                                                <p><strong>Bilancino Hotel</strong></p>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6" id="char-count-group">
                                                <b id="char-count" class="m-0">0 / 4000 words</b> <!-- Hiển thị số ký tự -->
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-info" id="btn-save-prompt"><i class="fas fa-save me-2"></i>Save prompt</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end contact detail tab pane -->
                    <div class="tab-pane" id="upload-documents-tab">
                        <form id="jobForm" method="post" action="#">
                            <div class="text-center">
                                <h3 class="mb-2">Upload Documents</h3>
                                <small class="text-muted">Train Your Model with Custom Files</small>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <div id="files-drag-drop">
                                        <div class="for-DragDrop"></div>
                                        <div class="for-ProgressBar"></div>
                                        <div class="uploaded-files mt-5">
                                            <h5>Your Uploaded Files<span id="file-count"></span></h5>
                                            <div class="row" id="output-files">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end job detail tab pane -->
                    <div class="tab-pane" id="web-urls-tab">
                        <form id="educationForm" method="post" action="#">
                            <div class="text-center">
                                <h3 class="mb-2">Web URLs</h3>
                                <small class="text-muted">Train your AI with Online Knowledge and Insights</small>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12 web-url-item">
                                    <div class="mb-3">
                                        <input type="checkbox" name="chk-web-url-1" class="form-check-input input-primary" id="chk-web-url-1">
                                        <input type="text" class="form-control" id="txt-web-url-1" placeholder="Please enter your Web URL 1" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3 button-groups">
                                        <button type="button" class="btn btn-info" id="btn-add-web-url"><i class="fas fa-plus me-2"></i>Add Web URL</button>
                                        <button type="button" class="btn btn-danger" id="btn-delete-web-url"><i class="fas fa-times me-2"></i>Delete Web URL</button>
                                        <button type="button" class="btn btn-info" id="btn-save-train-web-url"><i class="fas fa-save me-2"></i>Save and Train AI</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end education detail tab pane -->
                    <div class="tab-pane" id="publishing-chatbot">
                        <form id="educationForm" method="post" action="#">
                            <div class="text-center">
                                <h3 class="mb-2">Publishing Chatbot</h3>
                                <small class="text-muted">Customize and add your chatbot to your website</small>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6" id="customize-settings">
                                    <div class="card">
                                        <div class="card-header pb-0 pt-2">
                                            <ul class="nav nav-tabs analytics-tab" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="customize-tab" data-bs-toggle="tab" data-bs-target="#customize-tab-pane" type="button" role="tab" aria-controls="customize-tab-pane" aria-selected="true">Customize</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="embed-code-tab" data-bs-toggle="tab" data-bs-target="#embed-code-tab-pane" type="button" role="tab" aria-controls="embed-code-tab-pane" aria-selected="false" tabindex="-1">Embed Code</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="tab-content" id="myTabContent">
                                                        <div class="tab-pane fade active show" id="customize-tab-pane" role="tabpanel" aria-labelledby="customize-tab" tabindex="0">
                                                            <div class="row">
                                                                <div class="col-2 bot-icon-attachment">
                                                                    <div class="user-upload wid-80">
                                                                        <img src="https://seysolutions.com/images/SEY_Solutions_Logo.png" alt="img" class="img-fluid wid-80" />
                                                                        <label for="uplfile" class="img-avtar-upload">
                                                                            <i class="ti ti-camera f-24 mb-1"></i>
                                                                            <span>Upload</span>
                                                                        </label>
                                                                        <input type="file" id="uplfile" class="d-none" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-8 bot-icon-note">
                                                                    <p>Bot Icon</p>
                                                                    <ul>
                                                                        <li>Max file size 300KB</li>
                                                                        <li>Accept PNG, JPEG and SVG</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Bot Name</label>
                                                                        <input type="text" class="form-control" id="txt-bot-name" value="" placeholder="Please enter Bot Name..." />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Welcome Message</label>
                                                                        <input type="text" class="form-control" id="txt-welcome-message" value="" placeholder="Please enter Welcome Message..." />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="clp-primary-color">Primary Color</label>
                                                                        <input type="color"
                                                                               class="form-control form-control-color"
                                                                               id="clp-primary-color"
                                                                               value="#563d7c"
                                                                               title="Choose your color" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="clp-secondary-color">Secondary Color</label>
                                                                        <input type="color"
                                                                               class="form-control form-control-color"
                                                                               id="clp-secondary-color"
                                                                               value="#ffffff"
                                                                               title="Choose your color" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="txt-bottom-position">Bottom (px)</label>
                                                                        <input type="range" class="form-range" id="txt-bottom-position" min="0" max="500" />
                                                                        <input type="number" class="form-control" id="txt-bottom-value" min="0" max="500" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="txt-right-position">Right (px)</label>
                                                                        <input type="range" class="form-range" id="txt-right-position" min="0" max="500" />
                                                                        <input type="number" class="form-control" id="txt-right-value" min="0" max="500" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <button type="button" class="btn btn-info" id="btn-save-settings"><i class="fas fa-save me-2"></i>Save Settings</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="embed-code-tab-pane" role="tabpanel" aria-labelledby="embed-code-tab" tabindex="0">
                                                            <div class="mb-3">
                                                                <textarea class="form-control" id="txt-embed-code" rows="25"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" id="preview-settings">
                                    <div class="card preview-settings-group">
                                        <div class="card-body preview-settings-group-body">
                                            <div class="row">
                                                <div class="col-12 shadow rounded p-0">

                                                    <div class="chat-wrapper">
                                                        <div class="chat-content">
                                                            <div class="card mb-0">
                                                                <div class="card-header p-3">
                                                                    <div class="d-flex align-items-center">
                                                                        <ul class="list-inline me-auto mb-0">

                                                                            <li class="list-inline-item">
                                                                                <div class="d-flex align-items-center">
                                                                                    <div class="chat-avtar">
                                                                                        <img class="img-fluid wid-40" src="https://seysolutions.com/images/SEY_Solutions_Logo.png" alt="User image" />
                                                                                        <i class="chat-badge bg-success"></i>
                                                                                    </div>
                                                                                    <div class="flex-grow-1 mx-3 d-none d-sm-inline-block">
                                                                                        <h6 class="mb-0">Sey bot</h6>
                                                                                        @* <span class="text-sm text-muted">chatbot</span> *@
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="list-inline ms-auto mb-0">
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-s btn-link-secondary">
                                                                                    <i class="ti ti-phone-call f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-s btn-link-secondary">
                                                                                    <i class="ti ti-video f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <a href="#"
                                                                                   class="d-xxl-none avtar avtar-s btn-link-secondary"
                                                                                   data-bs-toggle="offcanvas"
                                                                                   data-bs-target="#offcanvas_User_info">
                                                                                    <i class="ti ti-info-circle f-18"></i>
                                                                                </a>
                                                                                <a href="#"
                                                                                   class="d-none d-xxl-inline-flex avtar avtar-s btn-link-secondary"
                                                                                   data-bs-toggle="collapse"
                                                                                   data-bs-target="#chat-user_info">
                                                                                    <i class="ti ti-info-circle f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="scroll-block chat-message">
                                                                    <div class="card-body">
                                                                        <div class="message-out">
                                                                            <div class="d-flex align-items-end flex-column">
                                                                                <p class="mb-1 text-muted"><small>9h ago</small></p>
                                                                                <div class="message d-flex align-items-end flex-column">
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">Hi...Henny!!</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">How can i cap you today?</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="message-in">
                                                                            <div class="d-flex">
                                                                                <div class="flex-shrink-0">
                                                                                    <div class="chat-avtar">
                                                                                        <img class="rounded-circle img-fluid wid-40" src="images/user/avatar-3.jpg" alt="User image" />
                                                                                        <i class="chat-badge bg-success"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="flex-grow-1 mx-3">
                                                                                    <div class="d-flex align-items-start flex-column">
                                                                                        <p class="mb-1 text-muted">Agilulf Fuxg <small>11:23 AM</small></p>
                                                                                        <div class="message d-flex align-items-start flex-column">
                                                                                            <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                                <div class="flex-grow-1 me-3">
                                                                                                    <div class="msg-content card mb-0">
                                                                                                        <p class="mb-0">Hey.. Bill</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="flex-shrink-0">
                                                                                                    <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                        <li class="list-inline-item">
                                                                                                            <div class="dropdown">
                                                                                                                <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                                   href="#"
                                                                                                                   data-bs-toggle="dropdown"
                                                                                                                   aria-haspopup="true"
                                                                                                                   aria-expanded="false">
                                                                                                                    <i class="ti ti-dots-vertical f-18"></i>
                                                                                                                </a>
                                                                                                                <div class="dropdown-menu">
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </li>
                                                                                                        <li class="list-inline-item">
                                                                                                            <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                                <i class="ti ti-edit-circle f-18"></i>
                                                                                                            </a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                                <div class="flex-grow-1 me-3">
                                                                                                    <div class="msg-content card mb-0">
                                                                                                        <p class="mb-0">nice to meet you!</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="flex-shrink-0">
                                                                                                    <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                        <li class="list-inline-item">
                                                                                                            <div class="dropdown">
                                                                                                                <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                                   href="#"
                                                                                                                   data-bs-toggle="dropdown"
                                                                                                                   aria-haspopup="true"
                                                                                                                   aria-expanded="false">
                                                                                                                    <i class="ti ti-dots-vertical f-18"></i>
                                                                                                                </a>
                                                                                                                <div class="dropdown-menu">
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </li>
                                                                                                        <li class="list-inline-item">
                                                                                                            <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                                <i class="ti ti-edit-circle f-18"></i>
                                                                                                            </a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="message-out">
                                                                            <div class="d-flex align-items-end flex-column">
                                                                                <p class="mb-1 text-muted"><small>9h ago</small></p>
                                                                                <div class="message d-flex align-items-end flex-column">
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">Hi...Henny!!</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">Are u listening me ?</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">How can i cap you today?</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="message-in">
                                                                            <div class="d-flex">
                                                                                <div class="flex-shrink-0">
                                                                                    <div class="chat-avtar">
                                                                                        <img class="rounded-circle img-fluid wid-40" src="images/user/avatar-3.jpg" alt="User image" />
                                                                                        <i class="chat-badge bg-success"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="flex-grow-1 mx-3">
                                                                                    <div class="d-flex align-items-start flex-column">
                                                                                        <p class="mb-1 text-muted">Agilulf Fuxg <small>11:23 AM</small></p>
                                                                                        <div class="message d-flex align-items-start flex-column">
                                                                                            <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                                <div class="flex-grow-1 me-3">
                                                                                                    <div class="msg-content card mb-0">
                                                                                                        <p class="mb-0">
                                                                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                                                                                            industry's standard dummy text ever since the 1500s.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="flex-shrink-0">
                                                                                                    <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                        <li class="list-inline-item">
                                                                                                            <div class="dropdown">
                                                                                                                <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                                   href="#"
                                                                                                                   data-bs-toggle="dropdown"
                                                                                                                   aria-haspopup="true"
                                                                                                                   aria-expanded="false">
                                                                                                                    <i class="ti ti-dots-vertical f-18"></i>
                                                                                                                </a>
                                                                                                                <div class="dropdown-menu">
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                                    <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </li>
                                                                                                        <li class="list-inline-item">
                                                                                                            <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                                <i class="ti ti-edit-circle f-18"></i>
                                                                                                            </a>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="message-out">
                                                                            <div class="d-flex align-items-end flex-column">
                                                                                <p class="mb-1 text-muted"><small>9h ago</small></p>
                                                                                <div class="message d-flex align-items-end flex-column">
                                                                                    <div class="d-flex align-items-center mb-1 chat-msg">
                                                                                        <div class="flex-shrink-0">
                                                                                            <ul class="list-inline ms-auto mb-0 chat-msg-option">
                                                                                                <li class="list-inline-item">
                                                                                                    <div class="dropdown">
                                                                                                        <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                                                                                           href="#"
                                                                                                           data-bs-toggle="dropdown"
                                                                                                           aria-haspopup="true"
                                                                                                           aria-expanded="false">
                                                                                                            <i class="ti ti-dots-vertical f-18"></i>
                                                                                                        </a>
                                                                                                        <div class="dropdown-menu">
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-back-up"></i> Reply</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-arrow-forward-up"></i> Forward</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-copy"></i> Copy</a>
                                                                                                            <a class="dropdown-item" href="#"><i class="ti ti-trash"></i> Delete</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <li class="list-inline-item">
                                                                                                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                                        <i class="ti ti-edit-circle f-18"></i>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="flex-grow-1 ms-3">
                                                                                            <div class="msg-content bg-primary">
                                                                                                <p class="mb-0">
                                                                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                                                                                    industry's standard dummy text ever since the 1500s.
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer py-2 px-3">
                                                                    <textarea class="form-control border-0 shadow-none" placeholder="Type a Message" rows="2"></textarea>
                                                                    <hr class="my-2" />
                                                                    <div class="d-sm-flex align-items-center">
                                                                        <ul class="list-inline me-auto mb-0">
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                    <i class="ti ti-paperclip f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                    <i class="ti ti-photo f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                    <i class="ti ti-mood-smile f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-xs btn-link-secondary">
                                                                                    <i class="ti ti-volume f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                        <ul class="list-inline ms-auto mb-0">
                                                                            <li class="list-inline-item">
                                                                                <a href="#" class="avtar avtar-s btn-link-primary">
                                                                                    <i class="ti ti-send f-18"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @* <div class="card-header p-2">
                                                        <img src="https://cjvietnam.vn/images/cj_logo_w.png" class="img-fluid" alt="logo" />
                                                        <div class="m-2">Sey bot</div>
                                                    </div>
                                                    <div class="card-body">
                                                    </div>
                                                    <div class="card-footer">
                                                    </div> *@
                                                </div>

                                                <div class="col-12 p-0 mt-4">
                                                    <button type="button" class="btn btn-warning" id="btn-open-chatbot"><i class="ph-duotone ph-chat-circle-dots"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END: Define your tab pans here -->
                </div>
            </div>
        </div>
        <!-- end tab content-->
    </div>
</div>