#build-ai-chatbot {
    padding-top: 15px;
}

    #build-ai-chatbot #char-count-group {
        display: flex;
        align-items: center;
    }

    #build-ai-chatbot #btn-save-prompt {
        float: right;
        display: flex;
        align-items: center;
    }

.document-editor {
    border-radius: var(--ck-border-radius);
    max-height: 500px;
    display: flex;
    flex-flow: column nowrap;
}

.document-editor__toolbar {
    z-index: 1024;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
}

    .document-editor__toolbar .ck-toolbar {
        border: 0;
        border-radius: 0;
    }

.document-editor__editable-container {
    padding: calc(2 * var(--ck-spacing-large));
    background: rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
}

    .document-editor__editable-container .ck-editor__editable.ck-editor__editable_inline {
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm 2cm 2cm;
        border: 1px hsl(0, 0%, 82.7%) solid;
        border-radius: var(--ck-border-radius);
        background: white;
        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
        margin: 0 auto;
    }

.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc(1.7 * var(--ck-line-height-base) * var(--ck-font-size-base));
    min-width: 6em;
}

.document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}

.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: 2.18em;
    font-weight: normal;
}

.document-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: 0.342em;
    margin-bottom: 0.142em;
}

.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: 1.75em;
    font-weight: normal;
    color: hsl(203, 100%, 50%);
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: var(--ck-color-list-button-on-text);
}

.document-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: 0.171em;
    margin-bottom: 0.357em;
}

.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: 1.31em;
    font-weight: bold;
}

.document-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: 0.286em;
    margin-bottom: 0.952em;
}

.document-editor .ck-content p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: 0.5em;
    margin-bottom: 1.13em;
}

.document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc(2 * var(--ck-spacing-large));
    margin-right: calc(2 * var(--ck-spacing-large));
}

#upload-documents-tab .uppy-DragDrop-inner {
    padding: 20px 20px;
}

#upload-documents-tab #output-files .card-body {
    padding: 15px;
}

#btn-delete-web-url,
#btn-save-train-web-url {
    margin-left: 15px;
}

.web-url-item div {
    display: flex;
    align-items: center;
}

.form-check-input {
    float: left;
    margin-right: 10px;
}

#web-urls-tab button {
    width: 175px;
    margin-bottom: 15px;
}

    #web-urls-tab button i {
        vertical-align: text-top;
    }

#web-urls-tab .button-groups {
    text-align: right;
}

#publishing-chatbot .analytics-tab li.nav-item {
    width: 50%;
}

    #publishing-chatbot .analytics-tab li.nav-item button {
        width: 100%;
        justify-content: center;
    }

#publishing-chatbot .bot-icon-attachment {
    width: 100px;
}

    #publishing-chatbot .bot-icon-attachment .user-upload {
        border-radius: 0% !important;
        margin-top: 5px;
    }

#publishing-chatbot .bot-icon-note p {
    margin-bottom: 5px;
    /*margin-top: 5px;*/
}

#publishing-chatbot .bot-icon-note ul {
    padding-left: 15px;
}

#publishing-chatbot #btn-save-settings {
    float: right;
}

#publishing-chatbot #customize-settings .card-body {
    height: 600px;
}

    #publishing-chatbot #customize-settings .card-body textarea {
        height: 100%;
    }

#publishing-chatbot #preview-settings .card.preview-settings-group {
    background-color: #ddd;
}

    #publishing-chatbot #preview-settings .card.preview-settings-group .preview-settings-group-body .row {
        /*height: 70%;*/
        margin: 0;
        width: 70%;
    }

#publishing-chatbot #preview-settings .card-body.preview-settings-group-body {
    height: 665px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}


#publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-header {
    display: flex;
    align-items: center;
    background-color: #fd7e14;
}

    #publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-header img {
        width: 80px;
    }

    #publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-header .chat-avtar .chat-badge {
       bottom: 10px;
    }

    #publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-header div {
        color: #fff;
    }

#publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-body,
#publishing-chatbot #preview-settings .preview-settings-group-body .shadow .card-footer {
    background-color: #fff;
}

.chat-message.scroll-block {
    height: 240px !important;
}

#publishing-chatbot #preview-settings .preview-settings-group-body #btn-open-chatbot {
    background-color: #fd7e14 !important;
    float: right;
}

    #publishing-chatbot #preview-settings .preview-settings-group-body #btn-open-chatbot i {
        font-size: 22px;
    }
